{% block content %}
</div>
<div class="content-container">

	{% include "/regions/regions-navigation" %}

	<div class="single-text-holder img-container holderjs" data-background-src="?holder.js/1600x350?fg=efefef">
		<div class="container-fluid">
			<div class="row">			
				<div class="col-md-6 col-md-offset-3 text-center">
					<br>
					<div>
						<br><br><br><br><div class="text-center">
						<i class="mg mg-3x map-tz"></i><br>
						<small>Tanzania - Serengeti</small>
					</div>
					<h1>Singita Grumeti<br><small>Singita Grumeti, situated adjacent to the Serengeti National Park in Tanzania, is an integral part of the Serengeti-Mara Ecosystem, the home of the Great Migration.</small></h1>
					<br><br>
					<p class="lead"></p>
				</div>
			</div>
		</div>
	</div>

</div>

<div class="container-fluid">
	<br><br><br>
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-6">
					<img class="img-responsive thumbnail" src="holder.js/800px400?text=Map">
				</div>

				<div class="col-md-4">
					<p>The Sabi Sand is a privately owned game reserve adjacent to Kruger National Park, and together the two areas make up some of South Africa’s most incredible and pristine land. Singita Sabi Sand has been owned by the Bailes family who have acted as the dedicated custodians of this precious part of South Africa’s natural heritage since 1926.</p>

					<p>With the opening of its first lodge, Ebony Lodge, in 1994, Singita’s philosophy has been to protect large tracts of wilderness and wildlife populations for future generations. Prior to the lodge’s construction, this part of the Sabi Sand had been completely inaccessible save for Singita’s environmental team and the owner’s family. Since Singita Ebony Lodge opened and subsequently Singita Boulders Lodge, guests have shared the privilege of experiencing this carefully protected part of South Africa.</p>

					<p>Spanning more than 45,000 acres, Singita Sabi Sand is renowned for high concentrations of big game and frequent leopard sightings.</p>
					<hr>
					<p><strong>Lodges in this region:</strong>
					<ul class="list-inline">
						<li><a href="/lodges/lodge-single">Singita Ebony Lodge</a></li>
						<li><a href="/lodges/lodge-single">Singita Boulders Lodge</a></li>
						<li><a href="/lodges/lodge-single">Singita Castelton</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div><!--/.row-->
	<br><br><hr><br>
</div>

<div class="container-fluid">
	{% include "/regions/regions-feed" %}
{% endblock %}