
<div class="modal fade" id="testimonialsModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Secret Duncan Sibuyi<small> - Finance Manager Singita Kruger National Park</small></h4>
      </div>
      <div class="modal-body">
        <img class="img-thumbnail img-responsive" src="holder.js/800x380?fg=efefef"><br><br>

        <p>“I joined Singita because it is ‘the place of miracles’ and I remember when I was young my Church Pastor used to call people to come to the pulpit to receive a ‘Miracle from God’, and I was always the first one to run to the pulpit because of this miracle. I first heard about Singita in 2002. I wanted to work for Singita and before the year ended in 2002, a miracle happened and I was successful in my application for a job at Singita!</p>

        <p>Singita has changed my life completely, it is the institution of multi-skills and I personally believe I have achieved a lot working here, and grown so much. I have worked at Singita for 12 years, and my life has been transformed. I am truly honoured to be a Singita employee. Singita is more than a company and I’m very proud to be a part of all the accolades that Singita has achieved, since the start until now. The skills and knowledge that I have gained at Singita has made me a dynamic individual and my way has been paved; Singita has allowed me to be successful in my career.”</p>
      </div>
      <div class="modal-footer">
        <ul class="pager">
          <li class="pull-left"><a href="#"><i class="fa fa-angle-left"></i> Previous Story</a></li>
          <li class="pull-right"><a href="#">Next Story <i class="fa fa-angle-right"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>