<div class="row">
				<div class="col-md-3 text-center">
					<i class="fa fa-3x fa-diamond"></i><br><br>
					<p class="lead"><em>Condé Nast Traveller</em></p>
					<strong>681 World’s Best Places to Stay: Hotels, Resorts, Cruise Lines</strong><br>
					<em>Gold List 2010 USA</em>
				</div>

				<div class="col-md-3 text-center">
					<i class="fa fa-3x fa-anchor"></i><br><br>
					<p class="lead"><em>Travel + Leisure Magazine</em></p>
					<strong>Top 100 Hotels &amp; No 2 in Africa &amp; the Middle East</strong><br>
					<em>World’s Best Awards 2010 USA</em>
				</div>

				<div class="col-md-3 text-center">
					<i class="fa fa-3x fa-bell-o"></i><br><br>
					<p class="lead"><em>Travel + Leisure Magazine</em></p>
					<strong>Ranked No. 16</strong><br>
					<em>500 World’s Best Hotels Awards 2010 USA</em>
				</div>

				<div class="col-md-3 text-center">
					<i class="fa fa-3x fa-camera-retro"></i><br><br>
					<p class="lead"><em>Condé Nast Traveller</em></p>
					<strong>Ranked No.3 in Top 50 Resorts in Africa</strong><br>
					<em>Reader’s Choice 2010 USA</em>
				</div>
			</div><!--/.row-->
			<br><br><br>
			<div class="row">
				<div class="col-md-3 text-center">
					<i class="fa fa-3x fa-diamond"></i><br><br>
					<p class="lead"><em>Condé Nast Traveller</em></p>
					<strong>681 World’s Best Places to Stay: Hotels, Resorts, Cruise Lines</strong><br>
					<em>Gold List 2010 USA</em>
				</div>

				<div class="col-md-3 text-center">
					<i class="fa fa-3x fa-anchor"></i><br><br>
					<p class="lead"><em>Travel + Leisure Magazine</em></p>
					<strong>Top 100 Hotels &amp; No 2 in Africa &amp; the Middle East</strong><br>
					<em>World’s Best Awards 2010 USA</em>
				</div>

				<div class="col-md-3 text-center">
					<i class="fa fa-3x fa-bell-o"></i><br><br>
					<p class="lead"><em>Travel + Leisure Magazine</em></p>
					<strong>Ranked No. 16</strong><br>
					<em>500 World’s Best Hotels Awards 2010 USA</em>
				</div>

				<div class="col-md-3 text-center">
					<i class="fa fa-3x fa-camera-retro"></i><br><br>
					<p class="lead"><em>Condé Nast Traveller</em></p>
					<strong>Ranked No.3 in Top 50 Resorts in Africa</strong><br>
					<em>Reader’s Choice 2010 USA</em>
				</div>
			</div><!--/.row-->
			<br><br><br>
			<div class="row">
				<div class="col-md-3 text-center">
					<i class="fa fa-3x fa-diamond"></i><br><br>
					<p class="lead"><em>Condé Nast Traveller</em></p>
					<strong>681 World’s Best Places to Stay: Hotels, Resorts, Cruise Lines</strong><br>
					<em>Gold List 2010 USA</em>
				</div>

				<div class="col-md-3 text-center">
					<i class="fa fa-3x fa-anchor"></i><br><br>
					<p class="lead"><em>Travel + Leisure Magazine</em></p>
					<strong>Top 100 Hotels &amp; No 2 in Africa &amp; the Middle East</strong><br>
					<em>World’s Best Awards 2010 USA</em>
				</div>

				<div class="col-md-3 text-center">
					<i class="fa fa-3x fa-bell-o"></i><br><br>
					<p class="lead"><em>Travel + Leisure Magazine</em></p>
					<strong>Ranked No. 16</strong><br>
					<em>500 World’s Best Hotels Awards 2010 USA</em>
				</div>

				<div class="col-md-3 text-center">
					<i class="fa fa-3x fa-camera-retro"></i><br><br>
					<p class="lead"><em>Condé Nast Traveller</em></p>
					<strong>Ranked No.3 in Top 50 Resorts in Africa</strong><br>
					<em>Reader’s Choice 2010 USA</em>
				</div>
			</div><!--/.row-->
			<br><br>
			<div class="row">
				<div class="text-center">
					<div class="col-md-8 col-md-offset-2">
						<div class="collapse text-left" id="collapseExample">
							<br><br>
							<ul>
								<li><strong>Ranked No.8 in Top 100 Hotels in the World</strong>, Reader’s Choice 2010 USA -&nbsp;<em>Condé Nast Traveller</em></li>
								<li><strong>Ranked No. 2 in Top 100 Hotels Overall</strong>, World’s Best Awards 2011 USA -&nbsp;<em>Travel + Leisure Magazine</em></li>
								<li><strong>Ranked No. 10 Best Hotels in the Middle East,&nbsp;Africa and the Indian Ocean/Overseas Leisure Hotels</strong>, Readers’ Travel Awards&nbsp;2011 UK -&nbsp;<em>Condé Nast Traveller</em></li>
								<li><strong>Ranked 5th in the Top 20 International Hideaways category (Boulders)</strong>, Readers’ Choice Awards 2011 USA -&nbsp;<em>Andrew Harper’s Hideaway Report</em></li>
								<li><strong>Ranked among Top 3 Hotels for Service in Africa, the Middle East and the Indian Ocean</strong>, Gold List 2012 UK -&nbsp;<em>Condé Nast Traveller</em></li>
								<li><strong>Ranked among the top 5 Hotels in Africa and the Middle East</strong>, Gold List&nbsp;2012 USA -&nbsp;<em>Condé Nast Traveller</em></li>
								<li><strong>Listed + No. 1 in South Africa</strong>, 500 World’s Best Hotels Awards 2012 USA -&nbsp;<em>Travel+ Leisure Magazine</em></li>
								<li><strong>No.1 Resorts and Lodges in Africa and the Middle East (No. 4 worldwide)</strong>, World’s Best Service 2012 USA -&nbsp;<em>Travel+ Leisure Magazine</em></li>
								<li><strong>Ranked among the Top Ten (No. 10)</strong>, World’s Best Awards&nbsp;2012 USA -&nbsp;<em>Travel + Leisure Magazine</em></li>
								<li><strong>Ranked No. 9 in Africa, the Middle East and the Indian Ocean</strong>, Readers’ Travel Awards&nbsp;2012 UK -&nbsp;<em>Condé Nast Traveller</em></li>
								<li><strong>Ranked among World’s Best Hotels for Families</strong>, World’s Best Awards&nbsp;2012 USA -&nbsp;<em>Travel + Leisure Magazine</em></li>
								<li><strong>Ranked No. 32 in Top 100 Hotels Overall and No. 3 in Africa and the Middle East</strong>, Readers’ Choice Awards&nbsp;2012 USA -&nbsp;<em>Condé Nast Traveller</em></li>
								<li><strong>Ranked No. 10,</strong> World’s Best Awards 2013 USA – <em>Travel + Leisure Magazine</em></li>
								<li><strong>Ranked no. 1</strong>, Readers’ Choice Awards 2014 USA – Top Safari Lodges – &nbsp;<em>Andrew Harper’s Hideaway Report</em></li>
								<li><strong>Ranked no. 3</strong>, Readers’ Choice Awards 2014 USA – Top International Hideaways – &nbsp;<em>Andrew Harper’s Hideaway Report</em></li>
								<li><strong>Ranked no. 1</strong>, World’s Best Awards 2014 USA – &nbsp;<em>Travel + Leisure Magazine</em></li>
								<li><strong>Listed</strong>, Gold List 2014 – Top 10 Best Africa Safari Lodges and Wilderness Spots 2014 (USA) – &nbsp;<em>Condé Nast Traveler Magazine</em></li>
								<li><strong>Listed</strong>, Best of the Best Awards 2014 (USA) – &nbsp;<em>Robb Report</em></li>
								<li><strong>Listed</strong>, Top 100 Resorts 2014 (USA) – &nbsp;<em>Robb Report</em></li>
								<li><strong>Top 10 in Middle East, Africa &amp; Indian Ocean,</strong> Readers’ Travel Awards 2014 (UK) – &nbsp;<em>Condé Nast Traveller Magazine</em></li>
								<li><strong>Listed</strong>, Hot List 2014 (UK) – <em>Conde Nast Traveller Magazine</em></li>
								<li><strong>Ranked no. 2 in Africa</strong>, Readers’ Choice Awards 2014 ,&nbsp;<em>Condé Nast Traveler Magazine (USA)</em></li>
								<li><strong>Ranked no. 4 in the World</strong>,&nbsp;Readers’ Choice Awards 2014 ,&nbsp;<em>Condé Nast Traveler Magazine (USA)</em></li>
							</ul>
						</div><!--/.collapse-->
					</div>
					<div class="col-md-6 col-md-offset-3">
						<br><br>
						<a class="btn btn-link" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">More <i class="fa fa-angle-down"></i></a>
					</div>
				</div>
			</div>
			<br>