<li class="text-center"><a href="#" data-toggle="modal" data-target="#modalSpa">
	<i class="fa fa-gift fa-3x"></i><br>
		<br>Spa
</a></li>
<li class="text-center"><a href="#">
	<i class="fa fa-glass fa-3x"></i><br>
		<br>Wine
</a></li>
<li class="text-center"><a href="#">
	<i class="fa fa-binoculars fa-3x"></i><br>
		<br>Activities
</a></li>
<li class="text-center"><a href="#">
	<i class="fa fa-users fa-3x"></i><br>
		<br>Families
</a></li>