<div class="col-md-3 text-center"><a href="#">
	<i class="fa fa-automobile fa-3x"></i><br>
	game drives</a>
</div>
<div class="col-md-3 text-center"><a href="#">
	<i class="fa fa-paw fa-3x"></i><br>
	Guided safari walks</a>
</div>

<div class="col-md-3 text-center"><a href="#">
	<i class="fa fa-bicycle fa-3x"></i><br>
	Mountain biking</a>
</div>

<div class="col-md-3 text-center"><a href="#">
	<i class="fa fa-star fa-3x"></i><br>
	Stargazing safaris</a>
</div>

<div class="clearfix"></div>

<br><br>

<div class="col-md-3 text-center"><a href="#">
	<i class="fa fa-bullseye fa-3x"></i><br>
	Archery</a>
</div>

<div class="col-md-3 text-center"><a href="#">
	<i class="fa fa-users fa-3x"></i><br>
	Community visit</a>
</div>

<div class="col-md-3 text-center"><a href="#">
	<i class="fa fa-image fa-3x"></i><br>
	Singita boutique & gallery</a>
</div>

<div class="col-md-3 text-center"><a href="#">
	<i class="fa fa-soccer-ball-o fa-3x"></i><br>
	Gym</a>
</div>

<div class="clearfix"></div>


