<li class="text-center"><a href="#" data-toggle="modal" data-target="#modalRates">
	<i class="fa fa-money fa-3x"></i><br>
		<br>Rates
</a></li>
<li class="text-center"><a href="#">
	<i class="fa fa-map-marker fa-3x"></i><br>
		<br>Map &amp; Directions
</a></li>
<li class="text-center"><a href="#">
	<i class="fa fa-sun-o fa-3x"></i><br>
		<br>Temperature &amp; Climate
</a></li>
<li class="text-center"><a href="#">
	<i class="fa fa-envelope fa-3x"></i><br>
		<br>Contact Info
</a></li>
<li class="text-center"><a href="#" data-toggle="modal" data-target="#modalMore">
	<i class="fa fa-plus fa-3x"></i><br>
		<br>More details
</a></li>