<li><a href="#">Map &amp; Directions</a></li>
<li><a href="#">Temperature &amp; Climate</a></li>
<li><a href="#">Contact Info</a></li>
<li><a href="#" data-toggle="modal" data-target="#modalMore">More details</a></li>