<!-- Details - Spa Modal -->
<div class="modal fade" id="modalSpa" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Ebony Lodge Activities - Spa</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <img class="img-responsive" src="holder.js/100px380?fg=efefef">
        </div>
        <hr>
        <div class="row">
          <div class="col-md-8">
            <p class="lead">Our renowned Bush Spa offers a holistic and healing approach to treatments, allowing us to treat each guest with the individual attention they deserve.</p>

            <p>The spa menu has been created to complement the beauty and tranquility of the wilderness, and all treatments incorporate that peace and vibrant energy to revitalize and nourish guests. All skin care treatments are performed in the tranquility of the Spa therapy rooms using Dermalogica products, which are naturally fragranced and suitable for both men and women. Body treatments such as massage, polishing scrubs and nourishing masks can be enjoyed in the comfort of guest suites, out on a private deck or at the spa.</p>

            <br>
            <h5>Signature Treatments</h5>

            <p>Ndzi Lorhe Africa “I Dreamed of Africa” – Discover the miracle of Africa with this indulgent African body ritual. The journey begins with a full body exfoliation, followed by a soothing body wrap and finishes with our unique Inkaba balancing full body massage. This treatment is pure luxury and rejuvenation in a purely African style.Monkey Orange – Monkey oranges, part of the calabash family, are a round fruit indigenous to this area that hardens when dried. These dried fruits are used as massage “tools” to ease tension and release pressure points, as well as glided over the body for utter relaxation and stress relief.</p>
          </div>
          <div class="col-md-4">
            <a class="btn btn-primary btn-lg btn-block">Enquire Now</a>
            <br>
            <div class="list-group">
              <a href="http://singita.com/ebony-lodge/files/2012/10/Singita-Sabi-Sand-Rates-2015-Rack.pdf" class="list-group-item"><i class="fa fa-file-pdf-o"></i> Download Lodge Brochure</a>
              <a href="http://singita.com/ebony-lodge/files/2012/10/Singita-Sabi-Sand-Spa-Menu.pdf" class="list-group-item"><i class="fa fa-file-pdf-o"></i> Download the full Singita Ebony Spa Menu</a>
              <a href="#" class="list-group-item"><i class="fa fa-print"></i> Print this page</a>
            </div>
            <br>
            <div class="internal">
              <h5 class="text-center">Promotions at Ebony Lodge</h5>
              <a href="#">
                <img class="img-responsive thumbnail" src="holder.js/300x250?fg=efefef">
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>