<!-- Details - Spa Modal -->
<div class="modal fade" id="modalLodgeGallery" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Ebony Lodge - Gallery</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-9">
            <div class="thumbnail">
               <img class="img-responsive" src="http://placehold.it/640x400&text=Thumbnail">
             </div>
          </div>
          <div class="col-md-3">
            <p class="lead">Image or Video Title</p>
            <p>Curabitur blandit tempus porttitor. Maecenas sed diam eget risus varius blandit sit amet non magna. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            <div>
            <div class="row">
              <div class="col-md-2">
                <span class="pull-left"><a href="#"><i class="fa fa-2x fa-angle-left"></i></a></span>
              </div>
              <div class="col-md-8">
                <div class="text-center"><em>1 / 12</em></div>
              </div>
              <div class="col-md-2">
                <span class="pull-right"><a href="#"><i class="fa fa-2x fa-angle-right"></i></a></span>
              </div>
            </div>
          </div>
        </div>
        </div>
      </div><!--/.modal-body-->
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>