<!-- Details - Rates Modal -->
<div class="modal fade" id="modalRates" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Ebony Lodge Details - Rates</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-8">
            <p class="lead">Valid: 01 January 2015 – 31 December 2015</p>                
            <h4>Accommodation</h4>
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <td><strong>Lodge</strong></td>
                  <td><strong>Units</strong></td>
                  <td><strong>Rate</strong></td>
                </tr>
              </thead>
              
              <tbody>
                <tr>
                  <td>Ebony Lodge Suites</td>
                  <td style="text-align: center">6</td>
                  <td>R 17 300 per adult per night</td>
                </tr>
                
                <tr>
                  <td>Ebony Lewis Suites</td>
                  <td style="text-align: center">2</td>
                  <td>R 14 700 per adult per night</td>
                </tr>
                
                <tr>
                  <td>Family Suites<br>
                  (maximum of 2 adults + 2 children)</td>
                  <td style="text-align: center">2</td>
                  <td>R 43 250&nbsp;per suite per night<br>
                    (1-3 guests)<br>
                    R 8 650 per additional guest per night</td>
                </tr>
              
                <tr>
                  <td>Two Bedroom Suite<br>
                      2 Doubles/Twins; maximum 4 guests</td>
                  <td style="text-align: center">1</td>
                  <td>&nbsp;R69 200 per suite per night (1-4 guests)</td>
                </tr>
              </tbody>
            </table>
            
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                  <h5 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapseOne">
                      Please Note:
                    </a>
                  </h5>
                </div>
                <div id="collapse1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                  <div class="panel-body">
                    <ul>
                      <li>Quoted in Rand (ZAR), subject to change and inclusive of Value Added Tax (VAT) at 14%</li>
                      <li>Exclusive of the Tourism Levy of R55 per person per night</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                  <h5 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      What is Included?
                    </a>
                  </h5>
                </div>
                <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                  <div class="panel-body">
                    <ul>
                      <li>Accommodation at Singita Boulders &amp; Ebony Lodges includes:</li>
                      <li>All meals and beverages (including premium wines, spirits and liqueurs, but excluding French Champagne)</li>
                      <li>Twice daily open Land Rover safaris, walking safaris, mountain biking safaris (accompanied by experienced guides and trackers), archery</li>
                      <li>Return road transfers between the Singita airstrip and the lodges</li>
                      <li>Laundry service</li>
                    </ul>

                    <p class="small">*Please note that guests wishing to check in before 14h00 and/or check out after 11h00 are required to book an additional night at the Day Use Rate.</p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                  <h5 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      What is Excluded?
                    </a>
                  </h5>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                  <div class="panel-body">
                    <ul>
                    <li>Tourism levy at ZAR 55 per person per night</li>
                    <li>Telephone calls</li>
                    <li>Purchases from the Singita Boutique &amp; Gallery</li>
                    <li>French Champagne</li>
                    <li>Spa treatments</li>
                    <li>Singita Castleton: Exclusive access to a Singita spa therapist (to be pre-booked and pre-paid)</li>
                    <li>Singita Castleton: Additional vehicle (available on request at an additional charge)</li>
                    <li>Transport to and from the reserve. Please see our flight &amp; access documentation.</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree">
                  <h5 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      What about Children?
                    </a>
                  </h5>
                </div>
                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                  <div class="panel-body">
                    <ul>
                    <li>Children aged 10 years and older are welcome at Singita Boulders Lodge. Children of all ages are welcome at Singita Ebony Lodge and Singita Castleton.</li>
                    <li>Infants under the age of 2 years will be accommodated free of charge.</li>
                    <li>Children aged 2-16 years will be accommodated at 50% of the adult rate when sharing a standard Suite with 1 adult or child.</li>
                    <li>Children accommodated in their own suite will attract the full adult rate.</li>
                    <li>If no family accommodation is available (Ebony: Family Suite or Two Bedroom Suite; Boulders: Family Suite) an additional guest can be accommodated in a triple on request. An additional room needs to be booked and a minimum charge of 3 adults will apply.</li>
                    <li>Families of up to 3 members (including at least 1 child under the age of 10) are required to book and pay for the use of a private safari vehicle (subject to availability)</li>
                    <li>Families of 4 or more members (including at least 1 child under the age of 10) are guaranteed the complimentary use of a private safari vehicle. In the interest of safety, participation of children in game activities is at the discretion of the guide.</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <a class="btn btn-primary btn-lg btn-block">Enquire Now</a>
            <br>
            <div class="list-group">
              <a href="http://singita.com/ebony-lodge/files/2012/10/Singita-Sabi-Sand-Rates-2015-Rack.pdf" class="list-group-item"><i class="fa fa-file-pdf-o"></i> Download Lodge Brochure</a>
              <a href="http://singita.com/ebony-lodge/files/2012/10/Singita-Sabi-Sand-Rates-2015-Rack.pdf" class="list-group-item"><i class="fa fa-file-pdf-o"></i> Download 2015 Rates</a>
              <a href="#" class="list-group-item"><i class="fa fa-print"></i> Print this page</a>
            </div>
            <br>
            <div class="internal">
              <h5 class="text-center">Promotions at Ebony Lodge</h5>
              <a href="#">
                <img class="img-responsive thumbnail" src="holder.js/300x250?fg=efefef">
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>