<!-- Details - Rates Modal -->
<div class="modal fade" id="modalMore" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Ebony Lodge Details - More Details</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-8">
            <h5>HEALTH REQUIREMENTS</h5>
            <h5>ACCOMMODATION</h5>
            <h5>AMENITIES & SERVICES</h5>
            <h5>OUR RATES INCLUDE</h5>
            <h5>OUR TARIFFS EXCLUDE</h5>
            <h5>YOUR JOURNEY TO REACH US - BY AIR</h5>
            <h5>YOUR JOURNEY TO REACH US - BY ROAD</h5>
            <h5>PAYMENT OPTIONS</h5>
            <h5>CHECK-IN/CHECK-OUT TIMES & LODGE CLOSURE</h5>
            <h5>KEY SPECIES YOU ARE LIKELY TO SEE</h5>
          </div>
          <div class="col-md-4">
            <a class="btn btn-primary btn-lg btn-block">Enquire Now</a>
            <br>
            <div class="list-group">
              <a href="http://singita.com/ebony-lodge/files/2012/10/Singita-Sabi-Sand-Rates-2015-Rack.pdf" class="list-group-item"><i class="fa fa-file-pdf-o"></i> Download Lodge Brochure</a>
              <a href="#" class="list-group-item"><i class="fa fa-print"></i> Print this page</a>
            </div>
            <br>
            <div class="internal">
              <h5 class="text-center">Promotions at Ebony Lodge</h5>
              <a href="#">
                <img class="img-responsive thumbnail" src="holder.js/300x250?fg=efefef">
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>