<!-- Details - Rates Modal -->
<div class="modal fade" id="modalCommunity" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Community Help</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-8">
            <p class="lead">You can become a valued funding partner of the Singita Grumeti Environmental Education Centre by sponsoring a five-day course, attended by 12 learners and two teachers.</p>
            <p>The cost of this is $2,000 or just under $150 per person for the full course.  Funds received enable the Centre to implement an increasing number of courses and so maximise the impact of the programme on the preservation of the reserves and of the community lands.</p>

            <p>If you are interested in making a contribution to this or any of the other programmes listed above - or if you require more information about any of the programmes - please contact one of the following:</p>
              <ul>
                <li>Lodge managers at Singita Serengeti</li>
                <li>Pam Richardson<br>Singita's Group HR and Community Development Manager<br>27 21 683 3424 or pam.r@singita.com.  </li>
              </ul>
              <p>Your funds will be put to excellent use as agreed with you.</p>
              <p><a class="btn btn-default">Download Brochure <i class="fa fa-file-o"></i></a> <a class="btn btn-default">Enquire Now</a></p>
          </div>
          <div class="col-md-4">
            <div class="row">
              <div class="col-md-10 col-md-offset-1">
                
                  <div class="thumbnail text-center">
                    <img class="" src="holder.js/200px200?fg=efefef">
                    <div class="caption">
                      <h5>For US Citizens</h5>
                      <p>
                        U.S. citizens can make a donation through the bodhi tree foundation.
                      </p>
                      <p>
                        <a href="http:www.thebodhitreefoundation.com/singita/" target="_blank" class="btn btn-default">Donate Now</a>
                      </p>
                    </div>
                  </div>

                  <p><a class="btn btn-primary btn-block">Direct Donation</a></p>
              </div>
            </div>
            <br><br>
          </div>
        
      </div>
    </div>
  </div>
</div>