<br><br><br>
<div class="text-center well">
	<p class="lead">Want to help?</p>
	<p>Maecenas faucibus mollis interdum. Cras mattis consectetur purus sit amet fermentum. Donec sed odio dui.</p>
	<a class="btn btn-primary" data-toggle="modal" href='#modalCommunity'>More Information</a>
</div>
<br><br><br>