{% block content %}
</div>
<div class="content-container">

	{% include "about-navigation" %}

	<div class="single-title-holder img-container holderjs" data-background-src="?holder.js/1600x350?fg=efefef">
		<div class="container-fluid">
			<div class="row">			
				<div class="col-md-6 col-md-offset-3 text-center">
					<br><br><br><br>
					<h1>Media<br><small></small></h1>
					<br><br>
					<p class="lead"></p>
				</div>
			</div>
		</div>
	</div>

</div>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12 text-center awards-toggle">
			<br>
				<div class="btn-group text-center" role="group" style="float:none;">
		    		<a href="#0" data-toggle="tab" class="btn btn-default btn-link active" style="float:none;">All</a>
		    		<a href="#1" data-toggle="tab" class="btn btn-default btn-link" style="float:none;">2015</a>
					<a href="#2" data-toggle="tab" class="btn btn-default btn-link" style="float:none;">2014</a>
					<a href="#3" data-toggle="tab" class="btn btn-default btn-link" style="float:none;">2013</a>
					<a href="#4" data-toggle="tab" class="btn btn-default btn-link" style="float:none;">2012</a>
				</div>
			<hr>
		</div>
	</div>
</div>


<div class="container">
	<br>
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<p class="lead text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
					<br>
				</div>
			</div>

			<div class="row">
				<div class="col-md-4">
					<div class="thumbnail">
						<a href="/about/about-media-single">
							<img class="img-responsive" src="holder.js/400x300?fg=efefef">
						</a>
							<div class="caption">
								<h4><a href="/about/about-media-single">House &amp; Garden</a></h4>
								<p>February 2013</p>
								<p><a href="/about/about-media-single" class="btn btn-link">Read more <i class="fa fa-long-arrow-right"></i></a></p>
							</div>
					</div>
				</div>

				<div class="col-md-4">
					<div class="thumbnail">
						<a href="/about/about-media-single">
							<img class="img-responsive" src="holder.js/400x300?fg=efefef">
						</a>
							<div class="caption">
								<h4><a href="/about/about-media-single">Financial Times - How to spend it</a></h4>
								<p>January 2013</p>
								<p><a href="/about/about-media-single" class="btn btn-link">Read more <i class="fa fa-long-arrow-right"></i></a></p>
							</div>
					</div>
				</div>

				<div class="col-md-4">
					<div class="thumbnail">
						<a href="/about/about-media-single">
							<img class="img-responsive" src="holder.js/400x300?fg=efefef">
						</a>
							<div class="caption">
								<h4><a href="/about/about-media-single">Tatler Travle Guide - Ride 'em, Cowgirl!</a></h4>
								<p>January 2013</p>
								<p><a href="/about/about-media-single" class="btn btn-link">Read more <i class="fa fa-long-arrow-right"></i></a></p>
							</div>
					</div>
				</div>

			</div>
			<br><br>
			<div class="row">

				<div class="col-md-4">
					<div class="thumbnail">
						<a href="/about/about-media-single">
							<img class="img-responsive" src="holder.js/400x300?fg=efefef">
						</a>
							<div class="caption">
								<h4><a href="/about/about-media-single">The Independent - Tanzanian safari lodges</a></h4>
								<p>January 2013</p>
								<p><a href="/about/about-media-single" class="btn btn-link">Read more <i class="fa fa-long-arrow-right"></i></a></p>
							</div>
					</div>
				</div>

				<div class="col-md-4">
					<div class="thumbnail">
						<a href="/about/about-media-single">
							<img class="img-responsive" src="holder.js/400x300?fg=efefef">
						</a>
							<div class="caption">
								<h4><a href="/about/about-media-single">Horse Quaterly - Riding in the Serengeti</a></h4>
								<p>January 2013</p>
								<p><a href="/about/about-media-single" class="btn btn-link">Read more <i class="fa fa-long-arrow-right"></i></a></p>
							</div>
					</div>
				</div>

				<div class="col-md-4">
					<div class="thumbnail">
						<a href="/about/about-media-single">
							<img class="img-responsive" src="holder.js/400x300?fg=efefef">
						</a>
							<div class="caption">
								<h4><a href="/about/about-media-single">Conde Nast Traveler (Spain)</a></h4>
								<p>December 2012</p>
								<p><a href="/about/about-media-single" class="btn btn-link">Read more <i class="fa fa-long-arrow-right"></i></a></p>
							</div>
					</div>
				</div>

			</div>
			<br><br>
			<div class="row">

				<div class="col-md-4">
					<div class="thumbnail">
						<a href="/about/about-media-single">
							<img class="img-responsive" src="holder.js/400x300?fg=efefef">
						</a>
							<div class="caption">
								<h4><a href="/about/about-media-single">The Telegraph - Luxury hotels opening in Dec 2012</a></h4>
								<p>December 2012</p>
								<p><a href="/about/about-media-single" class="btn btn-link">Read more <i class="fa fa-long-arrow-right"></i></a></p>
							</div>
					</div>
				</div>

				<div class="col-md-4">
					<div class="thumbnail">
						<a href="/about/about-media-single">
							<img class="img-responsive" src="holder.js/400x300?fg=efefef">
						</a>
							<div class="caption">
								<h4><a href="/about/about-media-single">Gala Magazine</a></h4>
								<p>December 2012</p>
								<p><a href="/about/about-media-single" class="btn btn-link">Read more <i class="fa fa-long-arrow-right"></i></a></p>
							</div>
					</div>
				</div>

				<div class="col-md-4">
					<div class="thumbnail">
						<a href="/about/about-media-single">
							<img class="img-responsive" src="holder.js/400x300?fg=efefef">
						</a>
							<div class="caption">
								<h4><a href="/about/about-media-single">Financial Times - How to spend it</a></h4>
								<p>November 2012</p>
								<p><a href="/about/about-media-single" class="btn btn-link">Read more <i class="fa fa-long-arrow-right"></i></a></p>
							</div>
					</div>
				</div>

			</div>
			<br><br>	
			<div class="row">

				<div class="col-md-4">
					<div class="thumbnail">
						<a href="/about/about-media-single">
							<img class="img-responsive" src="holder.js/400x300?fg=efefef">
						</a>
							<div class="caption">
								<h4><a href="/about/about-media-single">Financial Times - The great wide re-open</a></h4>
								<p>October 2012</p>
								<p><a href="/about/about-media-single" class="btn btn-link">Read more <i class="fa fa-long-arrow-right"></i></a></p>
							</div>
					</div>
				</div>
			</div>
		</div>
	</div><!--/.row-->
	<br><br><br>

</div>

{% endblock %}