{% block content %}
</div>
<div class="content-container">

	{% include "about-navigation" %}

	<div class="single-title-holder img-container holderjs" data-background-src="?holder.js/1600x350?fg=efefef">
		<div class="container-fluid">
			<div class="row">			
				<div class="col-md-6 col-md-offset-3 text-center">
					<br><br><br><br>
					<h1>Careers<br><small></small></h1>
					<br><br>
					<p class="lead"></p>
				</div>
			</div>
		</div>
	</div>

</div>

<div class="container">
	<br><br><br>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="row">
				<div class="col-md-12">
					<p class="lead text-center">Singita’s success is built on the collective strength and vision of deeply committed people, all passionate about Africa and linked by a common purpose to protect and preserve the world’s last remaining wilderness areas through conservation, community development and hospitality.</p>
					<br>
				</div>

				<div class="col-md-12">
					<!-- 16:9 aspect ratio -->
					<div class="embed-responsive embed-responsive-16by9">
					  <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/119337850"></iframe>
					</div>
					<br><br>
				</div>

				<div class="col-md-4">
					<div class="well">
						<p class="lead text-center">Working with purpose</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="well">
						<p class="lead text-center">Pursuing excellence in your choice of career</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="well">
						<p class="lead text-center">Working in a fully empowered way</p>
					</div>
				</div>

				<div class="col-md-6">
					<p>To work for Singita is to be part of something meaningful, far reaching and so much bigger than oneself. It’s an opportunity to work for a world-renowned brand, pursuing excellence in one’s area of expertise, including but not limited to guiding, guest relations, cheffing, IT, finance, human resources, community development and management in its various forms.</p>

					<p>At our lodges across Africa, our staff live and work surrounded by nature, far from the usual challenges associated with modern life, including daily commuting to work and finding a suitable place to live!</p>
				</div>

				<div class="col-md-6">
					<p>The advantages of being in the bush also include life-changing opportunities to interact with an extraordinary range of influential people – our guests – who come from all around the world.</p>

					<p>Staff at Singita Management Company in Cape Town and Johannesburg, as well as in the Arusha office, work in a dedicated way to support the reserve-based lodges. Everyone is part of an extended family, and no matter what their role, each is essential to Singita’s bigger picture.</p>
				</div>
			</div>
		</div>
	</div><!--/.row-->
	<br><br><br>
</div>

<div class="container">
	<div class="single-sub-title-holder img-container holderjs" data-background-src="?holder.js/1600x350?fg=efefef">
		<div class="container-fluid">
			<div class="row">			
				<div class="col-md-6 col-md-offset-3 text-center">
					<br>
					<h1>Current Vacancies<small></small></h1>
					<br><br>
				</div>
			</div>
		</div>
	</div>
	<br><br>
	<div class="row">
		<div class="col-md-8">
			<table class="table table-hover">
				<tbody>
					<tr>
						<td>Lodge Management</td>
						<td><small>Singita Sasakwa - Grumeti &amp; Lamai Tanzania</small></td>
						<td><a class="btn btn-sm btn-link pull-right" data-toggle="modal" data-target="#detailsModal">More details <i class="fa fa-info-circle"></i></a></td>
						<td><a href="/about/about-careers-apply" class="btn btn-primary btn-sm pull-right">Apply Now <i class="fa fa-long-arrow-right"></i></a></td>
					</tr>

					<tr>
						<td>Guide Trainer</td>
						<td><small>Singita Grumeti Trails </small></td>
						<td><a class="btn btn-sm btn-link pull-right" data-toggle="modal" data-target="#detailsModal">More details <i class="fa fa-info-circle"></i></a></td>
						<td><a href="/about/about-careers-apply" class="btn btn-primary btn-sm pull-right">Apply Now <i class="fa fa-long-arrow-right"></i></a></td>
					</tr>

					<tr>
						<td>Lodge Relief Manager</td>
						<td><small>Singita Sasakwa - Grumeti &amp; Lamai Tanzania</small></td>
						<td><a class="btn btn-sm btn-link pull-right" data-toggle="modal" data-target="#detailsModal">More details <i class="fa fa-info-circle"></i></a></td>
						<td><a href="/about/about-careers-apply" class="btn btn-primary btn-sm pull-right">Apply Now <i class="fa fa-long-arrow-right"></i></a></td>
					</tr>

					<tr>
						<td>Trade Revenue &amp; Yield Manager/Systems Manager</td>
						<td><small>Singita - Cape Town</small></td>
						<td><a class="btn btn-sm btn-link pull-right" data-toggle="modal" data-target="#detailsModal">More details <i class="fa fa-info-circle"></i></a></td>
						<td><a href="/about/about-careers-apply" class="btn btn-primary btn-sm pull-right">Apply Now <i class="fa fa-long-arrow-right"></i></a></td>
					</tr>

					<tr>
						<td>Assistant Financial Manager</td>
						<td><small>Singita Management Company - Cape Town</small></td>
						<td><a class="btn btn-sm btn-link pull-right" data-toggle="modal" data-target="#detailsModal">More details <i class="fa fa-info-circle"></i></a></td>
						<td><a href="/about/about-careers-apply" class="btn btn-primary btn-sm pull-right">Apply Now <i class="fa fa-long-arrow-right"></i></a></td>
					</tr>

					<tr>
						<td>Senior Reservations Consultant</td>
						<td><small>Singita Management Company - Cape Town</small></td>
						<td><a class="btn btn-sm btn-link pull-right" data-toggle="modal" data-target="#detailsModal">More details <i class="fa fa-info-circle"></i></a></td>
						<td><a href="/about/about-careers-apply" class="btn btn-primary btn-sm pull-right">Apply Now <i class="fa fa-long-arrow-right"></i></a></td>
					</tr>

					<tr>
						<td>Senior Field Guide</td>
						<td><small>Singita Kruger National Park - South Africa</small></td>
						<td><a class="btn btn-sm btn-link pull-right" data-toggle="modal" data-target="#detailsModal">More details <i class="fa fa-info-circle"></i></a></td>
						<td><a href="/about/about-careers-apply" class="btn btn-primary btn-sm pull-right">Apply Now <i class="fa fa-long-arrow-right"></i></a></td>
					</tr>

					<tr>
						<td>Spa Therapist</td>
						<td><small>Singita Kruger National Park - South Africa</small></td>
						<td><a class="btn btn-sm btn-link pull-right" data-toggle="modal" data-target="#detailsModal">More details <i class="fa fa-info-circle"></i></a></td>
						<td><a href="/about/about-careers-apply" class="btn btn-primary btn-sm pull-right">Apply Now <i class="fa fa-long-arrow-right"></i></a></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col-md-4">
			<div id="carousel-id" class="carousel slide carousel-careers-testimonials">
			    <div class="carousel-inner">
			        <div class="item active">
		            	<p><em>"I joined Singita because it is ‘the place of miracles’ and I remember when I was young my Church Pastor used to call people to come to the pulpit to receive a ‘Miracle from God’, and I was always the first one to run to the pulpit because of this miracle.</em></p>
		            	<p><em>I first heard about Singita in 2002. I wanted to work for Singita and before the year ended in 2002, a miracle happened and I was successful in my application for a job at Singita!" <a href="#" data-toggle="modal" data-target="#testimonialsModal" role="button">More <i class="fa fa-long-arrow-right"></i></a></em></p>
		            	<div class="text-center">
		            		<img class="img-circle" src="holder.js/80x80?fg=efefef">
		            		<p><em>Secret Duncan Sibuyi, Finance Manager<br>Singita Kruger National Park</em></p>
		            	</div>
			        </div>

			        <div class="item">
		            	<p><em>"I have been working for Singita for more than eleven years now, this in itself is a testament to the kind of company you too could be working for. There are not many people within the industry that have stayed in one company for this length of time. It is a career concept as opposed to a stepping-stone to somewhere else.</em></p>
		            	<p><em>Room for growth within the company, investment in training of staff and latitude to implement feasible ideas to improve on the guest experience make Singita unique.</em></p>" <a href="#" data-toggle="modal" data-target="#testimonialsModal" role="button">More <i class="fa fa-long-arrow-right"></i></a></em></p>
		            	<div class="text-center">
		            		<img class="img-circle" src="holder.js/80x80?fg=efefef">
		            		<p><em>Mark Broodryk, Head Guide<br>Singita Sabi Sand</em></p>
		            	</div>
			        </div>

			        <div class="item">
		            	<p><em>"After culinary school I landed a six month contract at Singita Lebombo and Sweni to cover for Jane, a chef from the local community, who was going on maternity leave. Soon after my arrival on the property it became evident that Singita is more than just a Luxury Safari Lodge.</em></p>
		            	<p><em>The caliber of staff you work along-side, become your family; you share an equal passion for excellence, pristine environments, conservation and ultimately delivering an unforgettable, unique and honest service to guests." <a href="#" data-toggle="modal" data-target="#testimonialsModal" role="button">More <i class="fa fa-long-arrow-right"></i></a></em></p>
		            	<div class="text-center">
		            		<img class="img-circle" src="holder.js/80x80?fg=efefef">
		            		<p><em>Donna Patterson, Sous Chef<br>Singita Kruger National Park</em></p>
		            	</div>
			        </div>
			        
			    </div>
			    <a class="left carousel-control" href="#carousel-id" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
			    <a class="right carousel-control" href="#carousel-id" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
			</div>
		</div>
	</div>

</div>


	{% include "about/about-careers-modal-details" %}
	{% include "about/about-careers-modal-testimonials" %}
{% endblock %}