{% block content %}
</div>
<br><br>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12 text-center awards-toggle">
			<br>
				<div class="btn-group text-center" role="group" style="float:none;">
		    		<a href="#0" data-toggle="tab" class="btn btn-default btn-link active" style="float:none;">All</a>
		    		<a href="#1" data-toggle="tab" class="btn btn-default btn-link" style="float:none;">Cuisine</a>
					<a href="#2" data-toggle="tab" class="btn btn-default btn-link" style="float:none;">Community Development</a>
					<a href="#3" data-toggle="tab" class="btn btn-default btn-link" style="float:none;">Safari</a>
					<a href="#4" data-toggle="tab" class="btn btn-default btn-link" style="float:none;">Wildlife</a>
					<a href="#4" data-toggle="tab" class="btn btn-default btn-link" style="float:none;">Lodges &amp; Camps</a>
					<a href="#4" data-toggle="tab" class="btn btn-default btn-link" style="float:none;">Experience</a>
				</div>
				<form class="form-inline" style="display: inline-block;">
				  <div class="form-group">
				    <div class="input-group">
				      <input type="text" class="form-control" id="exampleInputAmount" placeholder="Search All News Items">
				      <a href="news-single"  class="input-group-addon"><i class="fa fa-search"></i></a>
				    </div>
				  </div>
				</form>
			<hr>
		</div>
	</div>
</div>

<div class="container-fluid">
	<br>
	<div class="row">
		<div class="col-md-8">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<h1 class="text-center">Tellus Porta Aenean<br><small>20-12-15 | Category Title</small></h1>
					<hr>
					<div>
						<ul class="list-inline pull-left">
							<li><a href="#" class="fa fa-facebook"></a></li>
							<li><a href="#" class="fa fa-twitter"></a></li>
							<li><a href="#" class="fa fa-pinterest"></a></li>
							<li><a href="#" class="fa fa-envelope"></a></li>
							<li><a href="#" class="fa fa-comment"></a></li>
						</ul>
						<div class="pull-right">
							<a href="#"><small>Tags <i class="fa fa-angle-down"></i></small></a>
						</div>
						<div class="clearfix"></div>
					</div>
					<hr>
					<p class="lead">Donec id elit non mi porta gravida at eget metus. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>

					<p>Supporting the people who live in and around Singita’s reserves is an important part of maintaining the balance between sustainable tourism, community upliftment and environmental conservation. As part of this hands-on approach to community development, the staff at Singita Sabi Sand in South Africa celebrated Mandela Day this past Saturday with a feeding initiative for the children at two local care centres. Guests were invited to join in the making of sandwiches which were then packaged and delivered to the care centres in the neighbouring village of Justicia.</p>
					<br>
					<img class="img-responsive" src="holder.js/700x320?fg=efefef">
					<br>
					<img class="img-responsive" src="holder.js/700x320?fg=efefef">
					<br>
					<p>The voluntary involvement of the guests was especially touching, as was the visit by some of them to assist with the distribution of the sandwiches to 350 hungry children. It was a joyful and heart-rending tribute to Mr Mandela’s legacy and especially his commitment to stopping child hunger. It is a desire that Singita shares as part of its community development objectives; a dedication to saving the world, one sandwich at a time.</p>
					<blockquote>
						<p>Mandela Day is held on 18 July every year to celebrate Nelson Mandela’s birthday and in recognition of the life’s work of this great man. Please visit mandeladay.com to find out how you can become a Madiba changemaker and make every day Mandela Day.</p><footer>Person Name</footer>
					</blockquote>
					<hr>
					<ul class="list-inline text-center">
						<li><a href="#" class="fa fa-facebook"></a></li>
						<li><a href="#" class="fa fa-twitter"></a></li>
						<li><a href="#" class="fa fa-pinterest"></a></li>
						<li><a href="#" class="fa fa-envelope"></a></li>
						<li><a href="#" class="fa fa-comment"></a></li>
					</ul>
					<hr>
					<div class="row">
						<div class="col-md-12">
							<ul class="pager">
								<li class="pull-left"><a href="#"><i class="fa fa-angle-left"></i> Previous post</a></li>
								<li class="pull-right"><a href="#">Next post <i class="fa fa-angle-right"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4>Press Contacts:</h4>
				</div>

				<div class="panel-heading">
					<a data-toggle="collapse" href="#collapse1"><h5>South Africa<small> - Singita</small></h5></a>
				</div>
				<div class="panel-body collapse" id="collapse1">
					<p>
						Gugu Sithole<br>
						Tel: +27 (0)21 683 3424<br>
						Email: Gugu.S@singita.com<br>
					</p>
				</div>

				<div class="panel-heading">
					<a data-toggle="collapse" href="#collapse2"><h5>USA<small> - Imagine Global Communications</small></h5></a>
				</div>
				<div class="panel-body collapse" id="collapse2">
					<p>
						Gabriele Sappok-Klink<br>
						262 West 38th Street, Suite 502, New York, 10018<br>
						Tel: +1 (212) 922 1961<br>
						Email: Gabriele@imagine-team.com<br>
					</p>
				</div>

				<div class="panel-heading">
					<a data-toggle="collapse" href="#collapse3"><h5>UK<small> - Perowne Charles Communications</small></h5></a>
				</div>
				<div class="panel-body collapse" id="collapse3">
					<p>
						Paul Charles and Julia Perowne<br>
						9 Ledbury Mews North, London W11 2AF<br>
						Tel: +44 (0)20 7792 8884<br>
						Email: singita@verypcc.com<br>
					</p>
				</div>

				<div class="panel-heading">
					<a data-toggle="collapse" href="#collapse4"><h5>Germany<small> - Uschi Liebl PR</small></h5></a>
				</div>
				<div class="panel-body collapse" id="collapse4">
					<p>
						Paul Charles and Julia Perowne<br>
						9 Ledbury Mews North, London W11 2AF<br>
						Tel: +44 (0)20 7792 8884<br>
						Email: singita@verypcc.com<br>
					</p>
				</div>

				<div class="panel-heading">
					<a data-toggle="collapse" href="#collapse5"><h5>Latin America<small> - The Marketing Collection</small></h5></a>
				</div>
				<div class="panel-body collapse" id="collapse5">
					<p>
						Carolina Benia<br>
						Rua dos Patriotas, 1068 cj. 9<br>
						Ipiranga, São Paulo–SP, CEP 04207-030- Brasil<br>
						Tel: +598 9443 6391<br>
						Email: carolina@themarketingcollection.com<br>
					</p>
				</div>

			</div><!--/.panel-->

			<div class="well">
				<h4>Subscribe to Press Updates</h4>
				<p>Receive the latest updates in your inbox. Duis mollis, est non commodo luctus.</p>
				<form class="form-inline">
				  <div class="form-group">
				    <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Email">
				  </div>
				  <button type="submit" class="btn btn-default">Subscribe</button>
				</form>
			</div>
		</div>
	</div><!--/.row-->
	<br><br><br>

</div>

{% endblock %}