{% block content %}
</div>
<div class="content-container">

	{% include "community/community-navigation" %}

	<div class="single-text-holder img-container holderjs" data-background-src="?holder.js/1600x350?fg=efefef">
		<div class="container-fluid">
			<div class="row">			
				<div class="col-md-6 col-md-offset-3 text-center">
					<div>
						<br><br><br><br><div class="text-center">
						<i class="mg mg-3x map-za"></i>
					</div>
					<a href="/region/region-single"><small>Singita Sabi Sand - South Africa</small></a>
					<h1>Singita School of Cooking<br><small>The Singita School of Cooking, located on site at Singita Kruger National Park’s staff village, was established to encourage the development of culinary skills and employment opportunities among local youth. This 18 month programme enables selected students to gain a nationally recognized Professional Cookery Qualification.</small></h1>
					<br><br>
					<p class="lead"></p>
				</div>
			</div>
		</div>
	</div>

</div>

<div class="container">
	<br><br>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="row">
				<div class="col-md-6">
					<p>Singita Sabi Sand employs a dedicated team focused on protecting and conserving the bio-diversity of the incredible land under its care.</p>
					<p>The team is tasked with ensuring that the land, complete with its diverse flora and fauna, remains, as closely as possible, in the untouched state in which the Bailes family found it some 85 years ago. The earliest aerial photographs, taken in 1935, have been used as a guide in community efforts.</p>
				</div>
				<div class="col-md-6">				 
					<p>The primary responsibilities of the Environmental Team at Singita Sabi Sand are anti-poaching measures and environmental care.</p>
					<p>The process of environmental care is incredibly complex and includes maintaining the integrity of the reserve’s plant-life and wildlife, fire management, the prevention of erosion, water management, the building of roads, and ensuring minimal impact caused by the presence of the lodges.</p>
				</div>
			</div>
		</div>
	</div><!--/.row-->
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			{% include "community/community-help" %}
		</div>
	</div><!--/.row-->
</div>



<div class="container-fluid">
	<div class="row">
	  	<div class="col-md-7">
	  		<img class="img-responsive thumbnail" src="holder.js/800px600?fg=efefef">
	  	</div>
	  	<div class="col-md-4">
	  		<h4>A stand against rhino poaching</h4>
	  		<p>Today, the environmental stakes couldn’t be higher, as poaching methods have become increasingly sophisticated and poachers more daring. Following past incidents in the Sabi Sand, Singita decided it was time to secure a dedicated in house anti-poaching unit to secure the safety and preservation of the species in the reserve.</p>

	  		<p>Singita Sabi Sand is doing everything possible to prevent rhino poaching. &nbsp;Due to the incessant demand for rhino horn, poaching of the species in Africa has surpassed all forms of sustainability and the species will become extinct on our generation’s watch if it is not adequately protected.</p>

	  		<p>In response to this need, Singita began working with specialists in counteracting illegal hunting and wildlife trade through the use of highly trained tracker dog units. Tracker dogs, trained to track both animals and humans, are being included in many national parks’ security operations, including the Kruger National Park and the units have become an integral part of Singita’s anti-poaching measures.</p>

	  		<p>Mark Broodryk, Head Guide at Singita Sabi Sand says, “The biggest advantage of a dog unit is that the dogs track using their keen sense of smell and thus are extremely effective – even tracking in pitch darkness.” &nbsp;The dogs’ work rate and endurance surpasses that of a human and they ask for very little in return for the unenviable tasks they are called to do. &nbsp;Highly trained and able to perform multiple functions from pursuing intruders to tracking sick or injured animals or sniffing out products from illegal possessions, the dogs are highly valued, professional assets supporting important community initiatives.</p>

	  		<p>Another reason for the success of the canine operation is that their presence acts as a deterrent to potential poachers. Once tracking dogs have been deployed into an area, the news quickly spreads amongst poachers and criminal syndicates and the level and frequency of poaching incidents is shown to drop dramatically.</p>
	  	</div>
	</div><!--/.row-->
	
	<div class="text-center">
		<br><br>&mdash;<br><br><br>
	</div>
	
	<div class="row">
	  	<div class="col-md-4 col-md-offset-1">
	  		<h4>Further community Projects at Singita Sabi Sand</h4>
	  		<p><b>Introduction and restocking of reedbuck</b></p>
	  		
	  		<p>Singita’s land hosts almost the entire population of reedbuck within the reserve due to the unique marshland habitat near Castleton, which is needed for the existence of this species. Each year new stock is introduced to boost numbers, diversify the gene pool and ensure its long terms survival within the reserve.</p>
	  		
	  		<p><b>Leopard community, research and on-going monitoring</b></p>
	  		<p>We are very fortunate to have a high concentration of leopards in the area, and the fact that they are incredibly tolerant of game viewing vehicles makes this property a prime area for leopard research. The lodges have been operating commercially for almost 20 years, and daily sightings data and records have been kept since the inception of Ebony Lodge, making it one of the most comprehensive continual studies on wildlife, to date.</p>
	  		
	  		<p><b>Rhino horn infusion project</b></p>
	  		<p>All the rhinos’ horns have been treated with an indelible dye and a pesticide. This makes the horns valueless, as they are toxic if consumed by humans. The rhinos are not harmed in any way and are still able to defend themselves thereafter with their horns, but the horns are rendered useless to any would-be poachers.</p>
	  		
	  		<p><b>Assistance in the protection of biological assets</b></p>
	  		<p>The entire Sabi Sand Wildtuin is composed of various private landowners, each of whom contributes financially to cover the running of the reserve. This is done via the payment of levies by each owner in relation to the amount of area owned. Funds are also generated through community levies as well as gate fees. These funds are used by the reserve to finance all community efforts, game censuses, fence maintenance, anti-poaching and snare patrols.</p>
	  		
	  		<p><b>Environmental team</b></p>
	  		<p>We employ our own dedicated environmental team to maintain the road network, combat erosion, remove alien vegetation and simulate natural burns to stimulate new grazing for wildlife in a scientific, sustainable manner without altering the natural cycle of the vegetation.</p>
	  		
	  		<p><b></b><b>Sustainability</b></p>
	  		<p>Singita Sabi Sand supports low-impact ecotourism with our policy of having ‘fewer beds in larger areas.’ A carbon footprint analysis is performed periodically, and monthly resource use reports are prepared and monitored. Current projects include the elimination of plastic bottled water to reduce plastic waste. Energy demand reductions through various methods is another focus, including the trialing of an electric Land Rover. A biolytic system and natural reed bed processes sewage ensuring water returning to the Sand river is free of pollutants.</p>
	  	</div>
	  	<div class="col-md-7">
	  		<img class="img-responsive thumbnail" src="holder.js/800px600?fg=efefef">
	  	</div>
	</div><!--/.row-->

	<div class="text-center">
		<br><br>&mdash;<br>
	</div>
</div><!--/.container-fluid-->
<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			{% include "community/community-help" %}
		</div>
	</div><!--/.row-->
</div>
{% include "community/community-help-modal" %}
{% endblock %}