<div class="btn-group btn-group-justified">
  <div class="btn-group" role="group">
        <button id="dLabel" type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          TRAVEL TYPE
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dLabel">
          <li><a href="#">Romance</a></li>
          <li><a href="#">Family</a></li>
          <li><a href="#">Equestrian</a></li>
          <li><a href="#">Adventure</a></li>
        </ul>
    </div>
     
     <div class="btn-group" role="group">
        <button id="dLabe2" type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          LODGE STYLE
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dLabel2">
          <li><a href="#">Villas - Exclusive Use</a></li>
          <li><a href="#">Classic Safari</a></li>
          <li><a href="#">Contemporary Safari</a></li>
          <li><a href="#">Vistas</a></li>
        </ul>
       </div>

      <div class="btn-group" role="group">
        <button id="dLabe3" type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          REGION
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dLabel3">
          <li class="text-center"><a href="#">Singita Sabi Sand <br><small>South Africa</small><br><i class="mg mg-2x map-za"></i></a></li>
          <li role="separator" class="divider"></li>
          <li class="text-center"><a href="#">Singita Kruger National Park<br><small>South Africa</small><br><i class="mg mg-2x map-za"></i></a></li>
          <li role="separator" class="divider"></li>
          <li class="text-center"><a href="#">Singita Grumeti<br><small>Tanzania - Serengeti</small><br><i class="mg mg-2x map-tz"></i></a></li>
          <li role="separator" class="divider"></li>
          <li class="text-center"><a href="#">Singita Lamai<br><small>Tanzania - Serengeti</small><br><i class="mg mg-2x map-tz"></i></a></li>
          <li role="separator" class="divider"></li>
          <li class="text-center"><a href="#">Singita Pamushana<br><small>Zimbabwe</small><br><i class="mg mg-2x map-zw"></i></a></li>
        </ul>
       </div>
    </div><!--btn-group-->