<div class="row">
	<div class="col-md-7 col-md-offset-1">
		<div class="thumbnail">
	      <img class="img-responsive" src="holder.js/100px400?fg=efefef">
	      <div class="caption">
	        <h3>Wildlife Report Heading</h3>
	        <p>Curabitur blandit tempus porttitor. Donec ullamcorper nulla non metus auctor fringilla.</p>
	        <p><a href="#" class="btn btn-link" role="button">More <i class="fa fa-long-arrow-right"></i></a></p>
	      </div>
	    </div>
	</div>

	<div class="col-md-3">
		<h5 class="text-center">Site Wide Promotions</h5>
		<div class="thumbnail">
	      <img class="img-responsive" src="holder.js/100px300?fg=efefef">
	    </div>
	</div>
</div>

<div class="row">
	<div class="col-md-4">
		<div class="thumbnail">
	      <img class="img-responsive" src="holder.js/100px260?fg=efefef">
	      <div class="caption">
	        <h3>Blog post Title</h3>
	        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed odio dui.</p>
	        <p><a href="#" class="btn btn-link" role="button">More <i class="fa fa-long-arrow-right"></i></a></p>
	      </div>
	    </div>
	</div>

	<div class="col-md-4">
		<div class="thumbnail">
	      <img class="img-responsive" src="holder.js/100px360?fg=efefef">
	      <div class="caption">
	        <h3>Another Blog post Title</h3>
	        <p>Donec sed odio dui. Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
	        <p><a href="#" class="btn btn-link" role="button">More <i class="fa fa-long-arrow-right"></i></a></p>
	      </div>
	    </div>
	</div>

	<div class="col-md-4">
		<div class="thumbnail">
	      <img class="img-responsive" src="holder.js/100px260?fg=efefef">
	      <div class="caption">
	        <h3>Another Blog post Title</h3>
	        <p>Donec sed odio dui. Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
	        <p><a href="#" class="btn btn-link" role="button">More <i class="fa fa-long-arrow-right"></i></a></p>
	      </div>
	    </div>
	</div>
</div>


<div class="row">
	<div class="col-md-5 col-md-offset-1">
		<div class="thumbnail">
	      <img class="img-responsive" src="holder.js/100px280?fg=efefef">
	      <div class="caption">
	        <h3>Conservation at Singita</h3>
	        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed odio dui.</p>
	        <p><a href="#" class="btn btn-link" role="button">More <i class="fa fa-long-arrow-right"></i></a></p>
	      </div>
	    </div>
	</div>

	<div class="col-md-5">
		<div class="thumbnail">
	      <img class="img-responsive" src="holder.js/100px280?fg=efefef">
	      <div class="caption">
	        <h3>The Singita Community</h3>
	        <p>Donec sed odio dui. Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
	        <p><a href="#" class="btn btn-link" role="button">More <i class="fa fa-long-arrow-right"></i></a></p>
	      </div>
	    </div>
	</div>
</div>